body {

    background-image: url("panel.jpg");
    background-size: auto;
    background-attachment: fixed;

   
}

.wrapper {
     width: 1080px;
     margin: 0 auto;
}

#slider {
    position: relative;
    top: 37%;
    left: 26%;
    padding-left: 5px;
    margin-top: 32px !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

#slider img{
    border: 2px solid #808080;  
}


#site {
    padding-top: 500px;
 
}
    #nav {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 30%;
    background-color: beige;
    border: 2px solid #808080;
    padding-left: 5px;
    width: 1075px;
}

ul.navi {

    background: transparent;
    text-decoration: none;
    
}
a {
    width: 6em;
    text-decoration: none;
    color: grey;
    padding: 0.2em 5em;
}

li.navi {
    display: inline;
}

a:hover {
    color: white;
    transition: color 0.5s;
    }


#reg1 {
    position: relative;
    width: 1075px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    border: 2px solid #808080;
    padding-left:5px;
    background-color: beige; 
    padding-bottom: 60px;
    margin-top:20px;
}

h1{
    color: grey;
}
h2{
    color: grey;
}

h3{
    color: grey;
}

h4{
    color: grey;
    position:relative;
}

#reg1 ul{
    color:grey;
    list-style:outside;
}
p{
    color:grey;
}

ul.activiteiten li {
    display:normal;
    list-style: none;
}

#bowieimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px;
}

#cobyimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px;
}

#demonstratieimg {
     margin-left:55px;
     border: 2px solid #808080;
      border-radius: 25px;
     
}

#baileyimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px;
}

#arwenimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px;
}

#bowie {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding: 5px;
}

#bowie ul{
    
    display:normal;
    list-style: none;
    color:grey;

}


#bowie ul li{
    position:relative;
     left: 1em;
}

#bowie p {
    float:left;
}


#noa {
    float: left;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    padding: 5px;
}
#noaimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px
}

#noa ul {
    float:left;
    display:normal;
    list-style:none;
    color:white;
}

#noa p{
    float:left;
}

#thor {
    float: left;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    padding: 5px;
}
#thorimg {
    float:left;
    border: 2px solid #808080;
    border-radius: 25px
}

#ulthor {
    float:left;
    display:normal;
    list-style:none;
    color:white;
}

#thor p{
   float:left;
}
#thor h4{
    float:left;
}

#logo{ 
    text-align:center;  
    position: !important;
    z-index: 10000;
    margin-top: -40px;
    background-color: transparent;
    width: 1075px;
    left: 0px; 
    right: 0px;
}

td {
    color:grey;
}

#footer {
    position:fixed;
    width: 1075px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    padding-left:10px;
    padding-right:10px;
    background-color: beige;
    width: 100%;
    bottom: 0px;
    left: 0px; 
    right: 0px;
}

#footerp {
    color:black;
}

#footer img {
    float: left
}

