body {
    background-image: url("Art.jpg");
    background-size: auto;
    background-attachment: fixed;
}


#site {
    padding-top: 500px;
}
    #nav {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 16%;
    background-color: beige;
    border-radius: 10px;
    border: 2px solid #808080;
    padding-left: 5px;
    padding-right: 5px;
    width: 1080px;
}

ul.navi {

    background: transparent;
    text-decoration: none;
    
}
a {
    width: 6em;
    text-decoration: none;
    color: Grey;
    padding: 0.2em 5em;
}

li.navi {
    display: inline;
}

a:hover {
    color: White;
    }


#reg1 {
    position: absolute;
    top: 40%;
    left: 16%;
    width: 1075px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 10px;
    background-color: beige; 
    overflow: auto;
}

h2{
    color: gray;
}

h3{
    color: gray;
}

h4{
    color: gray;
}

ul.activiteiten li {
    display:normal;
    list-style: none;
}

#bowieimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px;
}

#bowie {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding: 5px;
}

#bowie ul{
    float:left;
    display:normal;
    list-style:none;

}

#bowie p {
    float:left;
}


#noa {
    float: left;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    padding: 5px;
}
#noaimg {
    float:left;
     border: 2px solid #808080;
      border-radius: 25px
}

#noa ul {
    float:left;
    display:normal;
    list-style:none;

}

#noa p{
    float:left;
}

#logo{ 
    text-align:center;  
    position: !important;
    z-index: 10000;
}

